---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=ru99w3xp6qu5848qvbgrznxq&format=json&pageSize=15&show=longName,distance,city,phone,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 17,
          "currentPage": 1,
          "totalPages": 2,
          "queryTime": "0.008",
          "totalTime": "0.019",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=longName,distance,city,phone,storeType&format=json&apiKey=ru99w3xp6qu5848qvbgrznxq",
          "stores": [
            {
              "longName": "Best Buy Mobile - Cherry Creek Shopping Center",
              "distance": 3.25,
              "city": "Denver",
              "phone": "303-270-9189",
              "storeType": "Mobile"
            },
            {
              "longName": "Best Buy - Belmar",
              "distance": 5.28,
              "city": "Lakewood",
              "phone": "303-742-8039",
              "storeType": "BigBox"
            },
            {
              "longName": "Best Buy - Colorado Blvd",
              "distance": 5.61,
              "city": "Denver",
              "phone": "303-758-5805",
              "storeType": "BigBox"
            },
            {
              "longNam[...]
[...]
